*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   -webkit-tap-highlight-color: transparent;
}
html,body{
    height: 100%;
    width: 100%;
}
.main-wrapper {
    max-width: 1300px;      
    margin: 0 auto;        
    width: 100%;            
}
body{
    padding-top: 5rem;
}
/* HEADER SECTION */
/* NAV SECTION  */
nav{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5; 
    padding: 1rem;
    display: flex;
    align-items: center;
}
 .nav_part{
    cursor: pointer;
 }
 .logo{
 height: 2rem;
 width: 10rem;
    background-image: url("header\ images/Logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
.logo img{
      max-width: 100%;
    height: auto;
    display: inline-block;
 }
 
.location{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    height: auto;
}
.location >h3{
    font-weight: 700;
}
.location >h5{
    font-weight: 500;
}
 .nav_part input{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #F8F8F8;
   height: 3rem;
   width: 38rem;
   padding: 0.8rem 0.8rem 0.8rem 2.5rem;

 }
 .search_input{
    cursor: pointer;
    margin-left: 1rem;
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
 }
 .search_input i{
    position: absolute;
    z-index: 2;
    font-size: 1.5rem;
    left: 10px;
 }
.login >h3{
     font-size: 1.4rem;
font-weight: 500;
}
.cart{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
   gap: 0.3rem;
   padding: 0.5rem 0.5rem;
     border-radius: 8px;
    background-color: #0C831F;
    color: white;
   
}
.cart >h4{
    font-size: 1.2rem;
}
 .ri-shopping-cart-line{
    font-size: 1.5rem;
 }
.img_container{
   
     gap: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.group_img{
    background-image: url("header\ images/image01.webp");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 97vw;
    height: 35vh;
  
}
.child_image_container{
    margin-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
    height: 35vh;
}
.pharmacy_img{
    background-image: url("header\ images/pharmacy-WEB.avif");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 27vw;
    height: 35vh;  
}

 
.pet_care_img{
    background-image: url("header\ images/Pet-Care_WEB.avif");
      background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  width: 27vw;
    height: 35vh;  
}
 
.baby_care_img{
    background-image: url("header\ images/babycare-WEB.avif");
      background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  width: 27vw;
    height: 35vh;  
}
/* MAIN SECTION */
 .product_container{
  padding: 1rem;
    
 }
.row1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto); /* 2 rows */
    grid-auto-columns: 8rem; /* har item ka width fix */
    overflow-x: auto;
    gap:0.5rem;
}
.row1::-webkit-scrollbar{
    display: none;
}
.row1 img {
    width: 100%;
    height: 11rem;
    object-fit: contain;
}
/* DAIRY-ITEM-SECTION */
.dairy_container{
padding:1rem;
gap: 1rem;
}
.main_itemContainer{
    margin-top: 1rem;
    border-radius: 8px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-auto-columns: minmax(180px, 180px);
    overflow-x: auto;
    gap: 1.2rem;
    width: 100%;
    padding-bottom: 1rem;
      
}
.main_itemContainer::-webkit-scrollbar{
    display: none; /* Scrollbar hide */
}

.item_box{
    border-radius: 3px;
box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    padding: 0.5rem;
      display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
 
.part1 img{
    height: 10rem;
    width: 100%;
object-position: center;
object-fit: contain;
}
.part2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.part2 h5{
    font-weight: 500;
}
.part2 .quantity{
    color: hwb(0 66% 33%);
}
button{
    
    border: none;
    color: #696969;
    font-size: x-small;
}
.bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom >button{
    cursor: pointer;
     background-color: white;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1.3rem;
    border: 1px solid #599F44;
    color: #599F44;
    border-radius: 7px;
}
 /* TOBACO PRODUCTS */
.tobaco_container{
    padding:1rem;
gap: 1rem;
}
/* SNACKS AND MUNCHIES CONTAINER */
.snack_and_munchies_container{
     padding:1rem;
gap: 1rem; 
}
/* HOOKAH-CONTAINER */
.Hookah_container{
     padding:1rem;
gap: 1rem; 
}
/* Mouth-freshners_container */
.Mouth-freshners_container{
     padding:1rem;
gap: 1rem; 
}
/* colddrinks-and-juice_container */
.colddrinks-and-juice_container{
     padding:1rem;
gap: 1rem; 
}
/* Candies-and-Gum_container */
.Candies-and-Gum_container{
     padding:1rem;
gap: 1rem; 
}
 /* FOOTER SECTION */
.footer_content{ 
    padding-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.links_container{
    padding: 2rem 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: flex-star;
    justify-content: space-between;
    flex-direction: column;
}
.links_01{  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; 
}
.box{  
  padding-top: 0.7rem;
  color: #6B6B6B;
  text-align: start;
  font-size: 15px;
}
.categories_container{
     padding: 2rem 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: flex-star;
    justify-content: space-between;
    flex-direction: column;
}
.cetagories{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 4rem;
}
.group > .box01{
    padding-top: 0.7rem;
  color: #6B6B6B;
  text-align: start;
  font-size: 15px;  
}
 .footer_content01{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 5rem 2rem 5rem;
 }
 .bottom_footer_container img{
height: 2rem;
 }
 .bottom_footer_container i{
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
 }
 .bottom_footer_container{
    color: #6B6B6B;
 }
 .blinkit_para{
    padding: 0 1.5rem;
 }
 a{
    color: black;
    text-decoration: none;
 }
.ph-navbar{
    display: none;
}
.ph_nav_input{
    display: none;
}
.product_container_heading{
    display: none;
}
.ph_footer{
    display: none;
}
 @media (max-width: 600px) {
    nav{
        display: none;
    }
    .img_container{
        display: none;
    }
  .ph-navbar{
    display: block;
  }
  .ph_nav_input{
    display: block;
  }
  .ph_nav_input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ph_nav_input input{
    width: 85%;
    border: none;
    background-color: #dbdada;
     border-radius: 0.4rem;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  .ri-search-line{
    color: #6B6B6B;
    position: absolute;
    left: 1.9rem;
    font-size: 1.5rem;
    z-index: 9;
    
  }
  .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container2{
    font-size: 2rem;
  }
  .child_container2{
    font-size: 0.9rem;
  }
  .container1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
    .product_container_heading{
    margin-top: 1.2rem;
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
}
 .row1 img {
    width: 100%;
    height: 10rem;
    object-fit: contain;
} 
.row1 {
    grid-auto-columns: 5.5rem;  
    gap:0;
}
 .common_h2{
    font-size: 1.2rem;
 }
 .main_itemContainer img{
height: 6.5rem;
 }
 .main_itemContainer{
     grid-auto-columns: minmax(145px, 145px);
    gap: 1rem; 
 }
 .item_box{
    height: 16rem;
    width: 9rem;
 }
 .part2 h5{
    font-weight: 600;
    font-size: 0.8rem;
}
 .bottom >button{
    font-weight: 600;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    
}
 footer{
    display: none;
 }
 .ph_footer_img_container{
    height: 4rem;
    background-color: #DAF2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  gap: 0.2rem;
 }
 .ph_footer_img_container img{
    height: 100%;
    width: 21%;
    border-radius: 1rem;
   
 }
 .ph_footer{
    display: block;
 }
}
.add_to_cart_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid black;
    padding: 5px 5px;
    background-color: #0C831F;
    color: white;
width: 10%;
}
.button{
    border: 1px solid black;
    font-size: larger;
    padding: 5px 10px;
    width: 5%;
    border-radius: 7px;
    background-color: #0C831F;
    color: white;
    font-weight: 700;
     
}

.add_to_cart_container {
  display: inline-block;
}

.qty_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  padding: 6px 16px;
  background: green;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
 /* LOGIN SECTION */
 
 .login_page{
  position: fixed;
  left: 50%;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
    color: black;
    padding: 1.5% 0;
    display: none;
align-items: center;
justify-items: center;
flex-direction: column;
width:35rem;
 
}
form{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.confirm_button{
    padding: 7% 40%;
    border-radius: 12px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.1rem;
}
.heading01{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}
.login_input{
  border: 1px solid gray;
    gap: 0.6rem;
    display: flex;
    align-items: center;
    width: 15rem;
    border-radius: 10px;
    padding: 0.8rem;
}
 input{
    border: none;
    outline: none;
}
.note{
    margin-top: 2rem;
    color: gray;
    font-weight: 500;
     
    
}
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}
.login_page.active{
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 20;
}
 